/* место для вашего кода */
body {
  width: 1440px;
}

/* header */

.header {
  display: grid;
  padding: 0 50px;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 293px;

  font-size: 18px;

  
}

.header__menu {
  justify-self: left;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 32px;
  list-style: circle;

  text-underline-offset: 5px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
  pointer-events: none;
}

.header__logo {
  justify-self: center;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.header__adress {
  justify-self: right;

  font-style: normal;
  line-height: 1.35;
  text-underline-offset: 4px;
}

/* cover */

.cover {
  position: relative;
  height: 757px;

  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/cover.jpg);
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;


  background-color: rgb(0 0 0 / 0.6);
}